
.toggleName{
    padding-bottom: 20px
}

.show{
    opacity: 1;
    padding-right: 10px

}
/* css过渡效果 */
/* .hide{
    opacity: 0;
    transition: all 1s ease;
} */

/* css动画       forwards动画结束时保留最后一帧的CSS样式*/  
.hide{
    padding-right: 10px;
    animation: hide 1s ease forwards;
}
@keyframes hide{
    0%{
        opacity: 1;
        color:red;
    }
    50%{
        opacity: 0.5;
        color: palevioletred
    }
    100%{
        opacity: 0;
        color: white

    }
}
