.toggleName{
  padding-bottom: 20px
}
.uName{
  padding-right: 20px
}



/* 执行入场动画--即show fadeName时的第一帧 */
.fade-enter .fade-appear{
  opacity: 0;
}
/* 执行入场动画到执行入场动画完成的中间过程 */
.fade-enter-active,.fade-appear-active {
  opacity: 0.5;
  transition: all 300ms ease;
}
/* 入场动画完成时的动画*/
.fade-enter-done {
    opacity: 1; 
  }


  /* 出场动画 */

.fade-exit {
  opacity: 1  
}
.fade-exit-active {
  opacity: 0.5;
  transition: all 300ms ease;
}
.fade-exit-done {
  opacity: 0;
 
}

.star {
  display: inline-block;
  margin-left: 0.5rem;
  transform: scale(1.25);
}
.star-enter {
  opacity: 0.01;
  transform: translateY(-100%) scale(0.75);
}
.star-enter-active {
  opacity: 1;
  transform: translateY(0%) scale(1.25);
  transition: all 300ms ease-out;
}
.star-exit {
  opacity: 1;
  transform: scale(1.25);
}
.star-exit-active {
  opacity: 0;
  transform: scale(4);
  transition: all 300ms ease-in;
}
